:root {
    --gradient: linear-gradient(to right, #66f5ff 0%, #004080 50%, #66f5ff 100%);
    --main-color: #004080;
    --second-color: #66f5ff;
    --body-color: #bcf6fbb3;
    --offers-color: linear-gradient(to right, rgb(218, 250, 75) 0%, rgb(194, 158, 52) 50%, rgb(218, 250, 75) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-padding-top: 120px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--body-color);
    width: 100%;
}

/*logo bar ou logo*/
#logo {
    position: fixed;
    top: 0;
    background: var(--gradient);
    padding: 5;
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin: 0;
    z-index: 1;
}

#logo-img {
    position: relative;
    top: 0;
    margin: -30px;
}

#logo img {
    width: 120px;
    height: 120px;
}

/*logo bar ou logo end*/


/*contact section*/
#contact {
    margin-top: 30px;
    text-align: center;
    background: var(--gradient);
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    height: auto;
}

#contact h2 {
    color: white;
    margin-bottom: 10px;
    text-decoration: underline;
}

#contact ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10% max(30px);
    margin-left: 10%;
    margin-right: 10%;
}

#contact img {
    width: 100px;
    height: auto;
}

/*contact section end*/

footer {
    border-top: 2px solid yellow;
    padding: 10px;
    text-align: center;
    background: var(--gradient);
    color: rgb(255, 255, 255);
    font-size: 14px;
    width: 100%;
}

/*footer end*/