/*product section*/
#category-name{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 75px;
    height: 45px;
    white-space: nowrap;
    width: auto;
    overflow: hidden;
}

#category-name::after{
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 1000px; 
    height: 5px;
    background-image: radial-gradient(circle, var(--main-color) 10px, transparent 2px);
    background-size: 30px 100%; 
    background-repeat: repeat-x;
    animation: snake-crawl 10s linear infinite;
}

@keyframes snake-crawl {
  0% {left: -750px;}
  100% {left: 0px;}
}

#products-h3{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgb(255, 255, 0);
    border-radius: 20px;
    width: fit-content;
    min-width: 150px;
    top: 130px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    margin-top: 115px;
    border-top: solid yellow 4px;
    border-bottom: solid yellow 4px;
    border-radius: 30px;
    justify-content: center;
}

.product-container {
    height: 300px;
    width: 170px;
    box-shadow: 10px 10px 20px #000000b3;
    border-radius: 20px;
    padding: 6px;
    margin: 30px;
    cursor: pointer;
}

#products img {
    width: 150px;
    height: auto;
    border-radius: 10%;
    margin-left: 5px;
}

.product-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 10px;
    color: black;
}

#prices{
    display: flex;
    width: 50%;
    justify-self: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product-price-after {
    font-weight: bold;
    color: green;
    cursor: default;
    font-size: 20px;
}

.product-price-before{
    color: red;
    cursor: default;
    text-decoration: line-through;
    font-weight: bold;
    font-size: 15px;
}

#products button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #ff7700;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#products button:hover {
    background-color: #ff9900;
    text-transform: uppercase;
}

/* Stars Styling */

:root {
    --widthI: 130px;
}

.product-rate {
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-wrap: nowrap;
    width: var(--widthI);
}

.rateProductValue {
    margin-left: 5px;
    color: #5a5858da;
    font-weight: bold;
    font-size: calc(var(--widthI) * 0.09);
    align-self: center;
    margin-top: 6px;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-size: calc(var(--widthI) * 0.18);
    align-self: center;
    color: #5a585896;
    /* Empty stars color */
}

.stars-outer::before {
    content: "★★★★★";
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #ffcc00;
    /* Filled stars color */
}

.stars-inner::before {
    content: "★★★★★";
}

/*stars styling end*/
/*products section end*/


/*special offer section*/
#specialoffersh2 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 11px;
    background: linear-gradient(90deg, rgb(250, 75, 75) 0%, rgb(38, 25, 25) 50%, rgb(250, 75, 75) 100%);
    background-size: 200% 200%;
    color: white;
    border-radius: 20px;
    width: 200px;
    height: 35px;
    animation: bgoffer 5s linear infinite;

}

@keyframes bgoffer {
    0%, 40% {background-position: 100% 0%;}
    40%,100% {background-position: -100% 0%;}
}

#special-offers:empty #specialoffersh2{
    display: none;
}


#special-offers {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.offer-item {
    width: 200px;
    height: 310px;
    background: transparent;
    box-shadow: 10px 10px 20px #000000b3;
    padding-top: 8px;
    margin: 15px;
    border-radius: 25px;
    cursor: pointer;
    background: var(--offers-color);
    background-size: 200% 200%;
    animation: bgoffer 5s linear infinite, scale 2.5s linear infinite;
    margin-top: 30px;
    transition: all 300ms ease-in-out;
    transition: all 300ms linear;
}

@keyframes scale {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.03;
    }

    100% {
        scale: 1;
    }

}

.offer-item:hover {
    transform: translateY(-15px);
}

.offer-item img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    margin-left: 50%;
    margin-top: 0%;
    transform: translateX(-50%);
}

#special-offers .offer-name {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 10px;
    color: black;
}

.price-before {
    text-align: center;
    font-weight: bold;
    margin-top: 3px;
    color: red;
    text-decoration: line-through;
}

.price-after {
    text-align: center;
    font-weight: bold;
    margin-top: 3px;
    color: green;
}

.offer-discount {
    position: absolute;
    transform: rotate(45deg);
    transform-origin: center center;
    top: 8px;
    right: -4px;
    background-color: #ff0000;
    color: white;
    width: 45px;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
}

/*special offers section end*/

@media (min-width: 768px) {
    .rateProductValue {
        margin-top: 3px;
    }
}